<button class="click" (click)="startGame()">Start</button>
<!--     <button class="click"(click)="changeWord()">Change word</button>-->
<h1>{{time}}</h1>
<h1>{{word}}</h1>
<input [ngClass]= "this.input ==word   ? 'correct' : 'incorrect'" id="typing"type="text" placeholder="Typing in" [(ngModel)]="input">
<h2>{{word}}</h2>
<h2>Your point: {{point}}</h2>

<!--<h2 *ngIf="time == 0">dd</h2>
<h2 *ngif="time >=1">DDD</h2>-->

<!--@if(this.time == 0 && this.point ==0){
  <h2>You lose</h2>
} @else if(this.time == 0 && this.point != 0 ){
  <h2>You are winner {{point}}</h2>
}@else{ 
}-->


<div id="container">
@for(row of buttons; track $index){
  @if($index ==0){
    <div id="'top">
      @for (letter of row.top; track $index){
        <button class="key">{{letter}}</button>
      }
    </div>
  }@else if($index == 1){
    <div id="middle">
      @for (letter of row.middle; track $index){
        <button class="key">{{letter}}</button>
      }
      </div>
    }@else{
        <div id="bottom">
          @for (letter of row.bottom; track $index){
            <button class="key">{{letter}}</button>
          }
        </div>
      }
    
  }
</div>